<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> 您正在修改餐廳資訊喔！ </h5>
          <hr>
          <form method="POST" action="/restaurants/{{{restaurants._id}}}/edit?_method=PUT" style="display: inline">
            <div class="form-group form-row">
              <label for="name" class="col-md-3 col-form-label">
                餐廳名稱 *
              </label>
              <div class="col-md-8">
                <input type="name" name="name" class="form-control" id="name" placeholder="中文名稱"
                  value="{{{restaurants.name}}}" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="name_en" class="col-md-3 col-form-label">
                餐廳英文名稱
              </label>
              <div class="col-md-8">
                <input type="name" name="name_en" class="form-control" id="name_en" placeholder="英文名稱"
                  value="{{{restaurants.name_en}}}">
              </div>
            </div>
            <div class="form-group form-row">
              <label for="category" class="col-md-3 col-form-label">
                餐廳類別 *
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category" placeholder="日本料理、中式餐廳"
                  value="{{{restaurants.category}}}" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="image" class="col-md-3 col-form-label">
                餐廳照片
              </label>
              <div class="col-md-8">
                <input type="url" name="image" class="form-control" id="image" placeholder="https://...../photo.jpg"
                  value="{{{restaurants.image}}}">
              </div>
            </div>
            <div class="form-group form-row">
              <label for="location" class="col-md-3 col-form-label">
                餐廳地址 *
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" placeholder="台北市中山區雙城街"
                  value="{{{restaurants.location}}}" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="phone" class="col-md-3 col-form-label">
                餐廳電話 *
              </label>
              <div class="col-md-8">
                <input type="number" name="phone" class="form-control" id="phone" placeholder="02 7743 9999"
                  value="{{{restaurants.phone}}}" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="rating" class="col-md-3 col-form-label">
                評分 *
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" min="0" max="5" step="0.1"
                  placeholder="4.5" value="{{{restaurants.rating}}}" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="description" class="col-md-3 col-form-label">
                餐廳簡介
              </label>
              <div class="col-md-8">
                <textarea type="text" name="description" class="form-control" id="description"
                  placeholder="簡單介紹，為什麼喜歡這家餐廳" cols="48" rows="3">{{{restaurants.description}}}</textarea>
              </div>
            </div>


            <button class="btn btn-success" type="submit">Save</button>
          </form>
          <a class="btn btn-info px-3 mx-3" href="/restaurants/{{{restaurants._id}}}">取消</a>
        </div>
      </div>
    </div>
  </div>
</div>