<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            aria-describedby="search-button" value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <a class="btn btn-primary d-inline-block ml-2" href="/restaurants/new">新增餐廳<i
              class="fas fa-plus ml-2"></i></a>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <!--searching result no matches-->
    {{#unless restaurants}}
    <div class="col-12 col-md-10 mx-auto">
      <img class="rounded mx-auto d-block mb-4 w-100"
        src="https://raw.githubusercontent.com/YunYuLo/restaurant_list/master/public/img/NoRecordFound.png"
        alt="NoMatchImage" />
    </div>
    {{/unless}}

    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="card-footer text-right">
              <a href="/restaurants/{{{this._id}}}">Detail</a>
              <a href="/restaurants/{{{this._id}}}/edit">Edit</a>
              <form action="/restaurants/{{{this.id}}}/delete" method="POST" style="display: inline;">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>